.wishlisttext1{ margin-left: 10%; }

#pagebullets{  position: relative!important; }

.footer-secbtn{ position: fixed;bottom:0px; }
    .btncartbuy{ text-align: center;margin: auto; }


.wishlisttext1 small {  font-size: 14px; color: blue; }
.wishlisttext1 h6{ font-size: 21px;  }

.btncartbuy small{ font-size: 8px; }

.btncartbuy ion-button{width: 90px;
    --background: none;
    color: #000033;
    border: 1px solid;
    border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-left: 12px;
    }


.addremove {width: 90px;
    --background: none;
    color: #000033;
    border: 1px solid;
    border-radius: 20px;
    }
    .productdetailsimg img { height: 180px; width: auto;}

    .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    --background: #000!important;
    opacity: .2;
}
.swiper-pagination-bullet {
    --background: #000!important;
}









nav > .nav.nav-tabs{

  border: none;
    color:#fff;
   /*// background:#272e38;*/
    border-radius:0;

}
/*nav > div a.nav-item.nav-link,*/
nav > div a.nav-item.nav-link.active
{
  border: none;
   
    color:#fff;
    background:#000000b5;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  /*content: "";
  position: relative;
  bottom: -40px;
  left: -10%;
  border: 7px solid transparent;
  border-top-color: #000033 ;*/
}
.tab-content{
  background: #fdfdfd;
   
    border: 1px solid #ddd;
    border-top:2px solid #000033;
    /*border-bottom:5px solid #000033;*/
    /*padding:30px 25px;*/
}
.nav-link {
    display: block;
    padding: 0rem 1rem;
    font-size: 13px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    /*background: #000033;*/
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}




.checked {
  color: orange;
}