
.wishlisttext1 h6{ font-size: 17px; font-weight: 600; margin-bottom: 0; }
.wishlisttext1 p{ font-size: 15px; margin: 10px 0 0 0; }
.wishlistbtn{ background-color: #008d84; color: #fff; }
.addminus ul li{ display: inline-block; margin-right: 5px;  }
.addminus ul { padding: 0; }
.wishlisttext2 ion-icon { font-size: 20px; margin-top: 30px; }

.wish_head p{ margin: 15px 10px;
    font-size: 18px; }
.wish_head span{     position: absolute;
    right: 10px;
    font-weight: 300;
    font-size: 15px; }

.hrclass2 {
    background: linear-gradient(to bottom, #00a384 0%, #01338a 100%);
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}

.addminus ul li ion-input{ width: 20px;
    text-align: center;
    margin: auto; }


    .addminus ul li ion-icon{ font-size: 20px;gb
    text-align: center;
    margin: auto; }
