<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="wish_head">
  <p> Your Cart List  <span><ion-icon color="danger" name="cart"></ion-icon></span></p>
 
</div>
 <hr class="hrclass2">

	<ion-row>
    <ion-col size="3">
     <div ssclass="wishlistimg">
     	<img src="assets/icon/men.jpg">
     </div>
    </ion-col>
    <ion-col size="6">
     <div class="wishlisttext1">
     	<h6>Men's Shirt</h6>
     
     	<span>Details</span>
     	
     		<p> <b> ₹ 600.00 </b> &nbsp; X 1 </p>
       
     
     </div>
    </ion-col>
    <ion-col size="3">
      <div class="wishlisttext2">
      	<ion-icon name="trash"></ion-icon>
     </div>
     <div class="addminus">
      	<ul><li> <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></li>
      	<li> <ion-input value="0" ></ion-input></li>
      	<li>  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></li></ul>
     </div>
    </ion-col>
  </ion-row>
  <hr class="hrclass2">
  <ion-row>
    <ion-col size="4">
     <div ssclass="wishlistimg">
     	<img src="assets/icon/men.jpg">
     </div>
    </ion-col>
    <ion-col size="6">
     <div class="wishlisttext1">
     	<h6>Men's Shirt</h6>
     	<button class="wishlistbtn">4.3<ion-icon color="light" name="star"></ion-icon></button>
     	<p>Details</p>
     	<ul>
     		<li> height: 50m </li>
     		<li> width : 35m </li>
     		<li> color : Red; </li>
     		<p> <b> ₹ 600 </b> </p>
     	</ul>
     </div>
    </ion-col>
    <ion-col size="2">
      <div class="wishlisttext2">
      	<ion-icon name="trash"></ion-icon>
     </div>
    </ion-col>
  </ion-row>
   <hr class="hrclass2">

</ion-content>
