ion-content{ --background: #cccccc; }
.trending-sec ion-card-header{ padding: 8px 10px; }
.trending-sec ion-card-title { text-align: left; font-size: 14px; }
.trending-sec ion-card-subtitle { text-align: left; font-size: 14px; font-weight: 600; }

.bg-white ion-card{ --background: #fff;padding: 0!important;
    margin: 4px; border-radius: 15px;}

.title-sec{ --background: #cccccc;  }
.addtobtn ion-button   { font-size: 10px;
	--background: #000033;
    --background-focused: green;
    --background-hover: green;
    --background-activated: #000033;
    padding: 0;
    margin: 10px auto 0;
    width: 100%;
   
    border-radius: 20px;}



 .trending-sec img{
 	height: 120px;
    width: auto;
    text-align: center;
    margin: auto;
   padding: 10px;
}


.heartsec {position: absolute;
    right: 10px;
    top: 10px;}
    .heartsec ion-icon{
  font-size: 18px;
    }